
<head>

</head>
<body>
    <form action="/GmailForPatient/Index" enctype="multipart/form-data" method="post">
        <center>
            <h1> How to Configure SMTP to Gmail</h1>
            <h2> Using MVC -5(asp.net)</h2>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td style="width:80px">
                            To:
                        </td>
                        <td><input id="To" name="To" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>
                            Subject:
                        </td>
                        <td><input id="Subject" name="Subject" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Body:
                        </td>
                        <td><textarea cols="25" id="Body" name="Body" rows="15"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Send">
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <span style="color:green"></span>
        </center>
</form>
</body>
