@{ 
    Layout = null;
}

<footer class="text-center text-white" style="background-color: #caced1;">
        <div class="text-center">
            <div class="row" style="background-color:black">
                <div class="col-12">
                    <a class="text-white" href="https://instagram.com/odissey_24?igshid=YmMyMTA2M2Y=">Created by Odissey</a>
                </div>
            </div>
        </div>
   
</footer>
